In [2]:
import numpy as np
import pandas as pd

In [4]:
pd.__version__

'0.19.2'

In [5]:
np.__version__

'1.12.1'

In [10]:
x = {4,1,2,3,3}
print(x)

{1, 2, 3, 4}

In [18]:
x = np.array([1,2,3,4,5])

In [25]:
x == 3

array([False, False,  True, False, False], dtype=bool)

In [15]:
y

'item[1, 2, 3, 4, 5]'

In [28]:
x = np.ones((3,3)) + np.arange(3)

In [29]:
type(x)

numpy.ndarray

In [30]:
data = pd.Series([.25,.5,.75,1.0], index = [2,5,3,7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [32]:
data.iloc[2]

0.75

In [33]:
df = pd.DataFrame([[1,2],[3,4],[5,6]],columns = ['foo','bar'],index = ['a','b','c'])
df

   foo  bar
a    1    2
b    3    4
c    5    6

In [34]:
df.foo

a    1
b    3
c    5
Name: foo, dtype: int64

In [35]:
df['foo']

a    1
b    3
c    5
Name: foo, dtype: int64

In [38]:
df.iloc[:,'foo']

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [41]:
df.sum(axis = 0)

foo     9
bar    12
dtype: int64

In [42]:
df.sum(axis = 1)

a     3
b     7
c    11
dtype: int64

In [43]:
df = pd.DataFrame([[1,2],[3,np.nan],[5,6]],
                 columns = ['foo','bar'],
                 index = ['a','b','c'])
df

   foo  bar
a    1  2.0
b    3  NaN
c    5  6.0

In [48]:
df.bar.notna()

AttributeError: 'Series' object has no attribute 'notna'

In [49]:
x = [1,2,3]
y = [10,20,30]

In [50]:
[i+j for i,j in zip(x,y)]

[11, 22, 33]

In [51]:
x + y

[1, 2, 3, 10, 20, 30]

In [52]:
list(np.array(x) + np.array(y))

[11, 22, 33]

In [54]:
n = 7
S = 10
x = np.random.randint(size = (S,n),low=1,high=7)
x

array([[6, 1, 4, 1, 6, 5, 1],
       [4, 2, 5, 4, 5, 6, 6],
       [3, 2, 2, 5, 4, 3, 2],
       [2, 1, 3, 1, 5, 3, 3],
       [5, 6, 2, 1, 2, 3, 6],
       [2, 1, 5, 6, 5, 6, 1],
       [2, 1, 2, 1, 1, 5, 5],
       [1, 5, 2, 2, 6, 3, 4],
       [1, 2, 4, 6, 6, 6, 1],
       [1, 1, 3, 6, 1, 5, 6]])

In [55]:
x[0]

array([6, 1, 4, 1, 6, 5, 1])

In [57]:
y = x.mean(axis=0)
y

array([ 2.7,  2.2,  3.2,  3.3,  4.1,  4.5,  3.5])

In [59]:
z = x.mean(axis=1)
z

array([ 3.42857143,  4.57142857,  3.        ,  2.57142857,  3.57142857,
        3.71428571,  2.42857143,  3.28571429,  3.71428571,  3.28571429])

In [60]:
z.var()

0.33979591836734691

In [61]:
z.mean()

3.3571428571428568

In [93]:
%%bash
wget -q http://www.myipaddress.com -O - \
| grep -E '[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}'

<p><b>169.231.234.190</b>